# Pandas

- Tools for loading data into in-memory data objects from different file formats.
- Time Series functionality.
- High performance merging and joining of data.


### Pandas Deals with 4 types of files : 
1. CSV
2. Text Files
3. Excel files
4. JSON Files

### Series
Series is a <b>one-dimensional</b> labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index.

In [1]:
import pandas as pd 
import numpy as np 
data = np.array(['a','b','c','d']) 
s = pd.Series(data,index=[100,101,102,103]) 
print(s)

100    a
101    b
102    c
103    d
dtype: object

### DataFrame

A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [3]:
import pandas as pd 
data = [['Alex',10],['Bob',12],['Clarke',13]] 
df = pd.DataFrame(data,columns=['Name','Age']) 
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [19]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])} 
df = pd.DataFrame(d) 
print (df)
print()
print(df['one'],"\n") #selecting column
print(df.loc['b'],"\n") #row selection

#Rows can be selected by passing integer location to an iloc 
# function.(row number)

print(df.iloc[2],"\n")

# selecting multiple rows
print(df[2:4])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

one    2.0
two    2.0
Name: b, dtype: float64

one    3.0
two    3.0
Name: c, dtype: float64

   one  two
c  3.0    3
d  NaN    4

In [20]:
#new col

df['three']=pd.Series([10,20,30],index=['a','b','c']) 
print(df)

df['four'] = df['one']+df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [26]:
#new row

dframe = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b']) 
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b']) 
dframe = dframe.append(df2) 
print (dframe,"\n")

# del row: Use index label to delete or drop rows from a DataFrame. 
# If label is duplicated, then multiple rows will be dropped.

dframe = dframe.drop(0)
print(dframe)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

In [9]:
# del column

del df['one'] 
print (df)
 # using pop function 
df.pop('two') 
print (df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN
   three  four
a   10.0  11.0
b   20.0  22.0
c   30.0  33.0
d    NaN   NaN

## CSV

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
pd.__version__

In [ ]:
#Bonus : converting dictionary to dataframe
dictionary = {
    'roll no' : [1,2,3,4],
    'name' : ['Amit', 'Sumit', 'Ramesh', 'Suresh'],
    'age' : [10,12,15,13],
    'school' : ['DPS', 'DAV', 'TIS', 'MIS']
}

dataframe_from_dictionary = pd.DataFrame(dictionary)
dataframe_from_dictionary

In [29]:
data = pd.read_csv('Files\\big_mart_sales.csv')
type(data)

pandas.core.frame.DataFrame

In [30]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [31]:
# Dataframe : 2 D Data structure with columns containing differnent datatypes.
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [32]:
data.shape

(8523, 12)

In [33]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [34]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [35]:
data_with_comments = pd.read_csv('Files\\big_mart_sales_top_row_error.csv')
# This is because the first few lines are not the start of the dataset
# and should not be used

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [36]:
# therefore, since first 5 rows are comments
data_with_comments = pd.read_csv('Files\\big_mart_sales_top_row_error.csv',
                                skiprows = 5)
data_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [37]:
# Reading file of a specific delimiter
data_delimiter = pd.read_csv('Files\\big_mart_sales_delimiter.csv',
                             sep = '\t')
data_delimiter.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [38]:
# read first n rows from a very large dataset
read_sample_from_data = pd.read_csv('Files\\big_mart_sales.csv', nrows = 100)

In [39]:
read_sample_from_data.shape

(100, 12)

In [40]:
read_sample_from_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [41]:
# Read specific columns of a dataset
l = ['Item_Identifier', 'Item_Type', 'Item_MRP', 'Item_Outlet_Sales']
read_specific_cols = pd.read_csv('Files\\big_mart_sales.csv', usecols = l)
read_specific_cols.head()

  Item_Identifier              Item_Type  Item_MRP  Item_Outlet_Sales
0           FDA15                  Dairy  249.8092          3735.1380
1           DRC01            Soft Drinks   48.2692           443.4228
2           FDN15                   Meat  141.6180          2097.2700
3           FDX07  Fruits and Vegetables  182.0950           732.3800
4           NCD19              Household   53.8614           994.7052

In [42]:
read_specific_cols.shape

(8523, 4)

# Text Files

In [44]:
# .txt
text_file = open('Files\\new_file.txt', 'r')

In [45]:
complete_text = text_file.read()
complete_text

'"This is a new file"\n"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python course'

In [46]:
# File pointer moves to the end, so when you 
# write this command again, it gives ''.
complete_text = text_file.read()
complete_text

''

In [ ]:
# To stop this from happening, close file everytime you finish reading a file

In [47]:
# or:
text_file.seek(0)

0

In [48]:
complete_text = text_file.read()
complete_text

'"This is a new file"\n"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python course'

In [49]:
text_file.close()

In [51]:
# Read file line by line
text_file = open("Files\\new_file.txt", "r")
lines = text_file.readlines()

print(lines)
print(len(lines))

['"This is a new file"\n', '"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python course']
2

In [52]:
#or :
for line in lines : 
    print(line)

text_file.close()

"This is a new file"

"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python course

In [53]:
# To autoclose files : 

with open('Files\\new_file.txt', 'r') as f :
    complete_text = f.read()
#File gets closed here
    
print(complete_text)

"This is a new file"
"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python course

In [54]:
# To write in file : 
with open('Files\\new_file_written.txt', 'w+') as f :
    f.write("This is a new file that has just been created. Like it?")

with open('Files\\new_file_written.txt', 'r') as f :   
    text = f.read()
text

'This is a new file that has just been created. Like it?'

In [55]:
my_file = open("Files\\list.txt", "w+")
lists = ['Line1 ', 'Line2 ', 'Line3']
my_file.writelines(lists)

my_file.seek(0)
text = my_file.readlines()

print(text)

['Line1 Line2 Line3']

In [56]:
# append text to file :
my_file = open('Files\\new_file.txt', "a+")
my_file.write('Welcome to Python course')
my_file.seek(0)
my_file.read()

'"This is a new file"\n"And it is a BRAND NEW DAY"Welcome to Python courseWelcome to Python courseWelcome to Python courseWelcome to Python course'

## Excel Files :

In [57]:
data = pd.read_excel('Files\\big_mart_sales.xlsx')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
# Challenges : Multiple sheets, comments in top rows, read files in 
#              multiple directories

In [58]:
data_with_multiple_sheets = pd.read_excel('Files\\big_mart_sales_with_multiple_sheets.xlsx')

In [59]:
data_with_multiple_sheets.Outlet_Establishment_Year.unique()
# This means only the first sheet has been read from multiple sheets

array([1985], dtype=int64)

In [60]:
sheet_1985 = pd.read_excel('Files\\big_mart_sales_with_multiple_sheets.xlsx',
                          sheet_name = '1985')

In [61]:
sheet_1985.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [62]:
sheet_1987 = pd.read_excel('Files\\big_mart_sales_with_multiple_sheets.xlsx',
                          sheet_name = '1987')
sheet_1997 = pd.read_excel('Files\\big_mart_sales_with_multiple_sheets.xlsx',
                          sheet_name = '1997')

In [63]:
# concatenate all sheets
sheets = [sheet_1985, sheet_1987, sheet_1997]
final_data = pd.concat(sheets)
final_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
925,FDC28,7.905,Low Fat,0.054987,Frozen Foods,108.6254,OUT046,1997,Small,Tier 1,Supermarket Type1,1844.9318
926,FDB17,13.150,Low Fat,0.036672,Frozen Foods,182.5976,OUT046,1997,Small,Tier 1,Supermarket Type1,4165.2448
927,FDT34,9.300,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997,Small,Tier 1,Supermarket Type1,2419.5172
928,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
929,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [64]:
final_data.Outlet_Establishment_Year.unique()

array([1985, 1987, 1997], dtype=int64)

In [65]:
# skiprows to skip the first few rows of the csv
sheet_with_comments = pd.read_excel('Files\\big_mart_sales_with_multiple_sheets.xlsx',
                                   skiprows = 3)

In [66]:
sheet_with_comments.head()

,FDW12,Unnamed: 1,Regular,0.035399923,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
0,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
1,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
2,FDV20,NaN,Regular,0.059512,Fruits and Vegetables,128.0678,OUT027,1985,Medium,Tier 3,Supermarket Type3,2797.6916
3,FDX10,NaN,Regular,0.123111,Snack Foods,36.9874,OUT027,1985,Medium,Tier 3,Supermarket Type3,388.1614
4,FDB34,NaN,Low Fat,0.026481,Snack Foods,87.6198,OUT027,1985,Medium,Tier 3,Supermarket Type3,2180.4950

## JSON

In [67]:
# In this, the entire data is 1 json file
data = pd.read_json('Files\\simple.json')
data.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [68]:
# In this, each line is a separate json
data_with_records = pd.read_json('Files\\simple_records.json', 
                                 lines = True)
data_with_records.head()

      name  age grade
0    Andew   12     A
1   Bhuvan   18     B
2  Clinton   11     A
3    Drake   12     C
4    Eisha   13     B

In [70]:
!pip install simplejson

Collecting simplejson
  Downloading simplejson-3.17.6-cp38-cp38-win_amd64.whl (75 kB)
Installing collected packages: simplejson
Successfully installed simplejson-3.17.6

In [71]:
# Nested json files : 
# JSON module
import simplejson as json
import json

In [73]:
with open('Files\\nested.json') as f:
    my_json_data = json.load(f)
    
print(my_json_data)

[{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}, {'student_roll_no': 102, 'details': {'name': 'Bhuvan', 'age': 18, 'grade': 'B'}}, {'student_roll_no': 103, 'details': {'name': 'Clinton', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 104, 'details': {'name': 'Drake', 'age': 12, 'grade': 'C'}}, {'student_roll_no': 105, 'details': {'name': 'Eisha', 'age': 13, 'grade': 'B'}}, {'student_roll_no': 106, 'details': {'name': 'Farhan', 'age': 22, 'grade': 'C'}}, {'student_roll_no': 107, 'details': {'name': 'Garima', 'age': 11, 'grade': 'A'}}, {'student_roll_no': 108, 'details': {'name': 'Himanshu', 'age': 19, 'grade': 'A'}}, {'student_roll_no': 109, 'details': {'name': 'Ishaan', 'age': 10, 'grade': 'D'}}, {'student_roll_no': 110, 'details': {'name': 'Jason', 'age': 9, 'grade': 'B'}}]

In [74]:
# present this in readable format (prettyprint): 
from pprint import pprint
pprint(my_json_data)

[{'details': {'age': 12, 'grade': 'A', 'name': 'Andew'},
  'student_roll_no': 101},
 {'details': {'age': 18, 'grade': 'B', 'name': 'Bhuvan'},
  'student_roll_no': 102},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Clinton'},
  'student_roll_no': 103},
 {'details': {'age': 12, 'grade': 'C', 'name': 'Drake'},
  'student_roll_no': 104},
 {'details': {'age': 13, 'grade': 'B', 'name': 'Eisha'},
  'student_roll_no': 105},
 {'details': {'age': 22, 'grade': 'C', 'name': 'Farhan'},
  'student_roll_no': 106},
 {'details': {'age': 11, 'grade': 'A', 'name': 'Garima'},
  'student_roll_no': 107},
 {'details': {'age': 19, 'grade': 'A', 'name': 'Himanshu'},
  'student_roll_no': 108},
 {'details': {'age': 10, 'grade': 'D', 'name': 'Ishaan'},
  'student_roll_no': 109},
 {'details': {'age': 9, 'grade': 'B', 'name': 'Jason'}, 'student_roll_no': 110}]

In [75]:
# Create a new json file that contains the names
# of people whose age is greater than 15

data_0 = my_json_data[0]
data_0

{'student_roll_no': 101, 'details': {'name': 'Andew', 'age': 12, 'grade': 'A'}}

In [76]:
dic1 = data_0['details']

In [77]:
dic1['age']

12

In [78]:
# Solution :
filtered_data = []

for data in my_json_data : 
    #print(data['details']['age'])
    filtered_variable = {}
    if data['details']['age'] > 15:
        filtered_variable['age'] = data['details']['age']
        filtered_variable['name'] = data['details']['name']
        filtered_data.append(filtered_variable)


# filtered var = {'name' : bdjsd,
#                 'age' : 12
#                }

# filtered_data = [filtered_variable, d2, d3, d4]

In [79]:
filtered_data

[{'age': 18, 'name': 'Bhuvan'},
 {'age': 22, 'name': 'Farhan'},
 {'age': 19, 'name': 'Himanshu'}]

In [80]:
# writing to a json file

with open('Files\\filtered.json', 'w') as f:
    json.dump(filtered_data, f)

## Subsetting and Modifying Data in Python

In [ ]:
# Subsetting : position, label and value based subsetting
# Modifying : Fill missing values, manipulating rows, cols etc.

In [ ]:
data = pd.read_csv('datasets/big_mart_sales.csv')

In [ ]:
data.index

In [ ]:
data.shape

In [ ]:
data.columns

In [ ]:
# how to get the first n rows based on positional index : 
data.head(7)

In [ ]:
# How to change the positional index of rows
import random
random_list = [random.randint(1,8523) for i in range(8523)]
random_list

In [ ]:
# changing index of rows in dataframe
# new index is treated as a label for the row : label based indexing
data.index = random_list
data.head()

In [ ]:
# or
# 1. Change index of dataframe
# 2. Drop = True is used to drop the column that is set as the index. If set to false, we will have the column 
#    2 times in the dataframe
# 3. Inplace = True is used to amke changes in the original dataframe. If it is false, it creates a copy and 
#    prints the right value only in tht cell 

data = pd.read_csv('datasets/big_mart_sales.csv')

In [ ]:
data.head()

In [ ]:
data.set_index('Outlet_Establishment_Year', drop = True, inplace = True)
data.head()

In [ ]:
data.index

In [ ]:
data.reset_index(inplace = True)

In [ ]:
# index can be categorical as well. 
data.set_index('Item_Identifier', drop = True, inplace = True)

In [ ]:
data.index

In [ ]:
# How to subset data if the index is categorical?
data.loc['FDA15']

In [ ]:
# Can we reset index ? 
data.reset_index(inplace = True)
data.head()

In [ ]:
# How to subset data on the basis of a value of a column

In [ ]:
data.head()

In [ ]:
data[data['Item_Type'] == 'Dairy']

In [ ]:
data['Item_Type'].unique()

### Subsetting based on position

In [ ]:
data = pd.read_csv('datasets/big_mart_sales.csv')

In [ ]:
data.shape

In [ ]:
data.head(10)

In [ ]:
data.tail(10)

In [ ]:
# Access rows in a particular range
data[10:15]

In [ ]:
data[-10:-6]

In [ ]:
# Select specific rows by position
data.iloc[[1,5,2,4,6,14]]

In [ ]:
data.iloc[[1,4,5,2],[1,3,5]] # Row, Col

In [ ]:
data.iloc[10:20:3,[1,2]]

### Subsetting based on labels

In [ ]:
data.set_index('Item_Identifier', inplace = True, drop = True)

In [ ]:
data.head()

In [ ]:
# How to select rows on the basis of this new index
data.loc['FDA15']

In [ ]:
data.loc[['FDA15', 'FDN03']]

In [ ]:
# Select rows and cols
data.loc[['FDA15', 'FDA03'], "Item_Fat_Content"]

In [ ]:
data.loc[['FDA15', 'FDA03'], ["Item_Fat_Content", 'Item_MRP']]

In [ ]:
# loc vs iloc
sample_df = pd.DataFrame({
    'gender' : ['M','F','M','M','F'],
    'grade'  : ['A','A','B','B','A'],
    'marks'  : [22,21,12,14,20],
    'id'     : ['A101', 'A102', 'A103', 'A104', 'A105']
})

#index is positional by default
sample_df

In [ ]:
#eg1
sample_df.loc[2:4] # indexing based on labels (positions)

In [ ]:
sample_df.iloc[2:4] # indexing on the basis of index

In [ ]:
#eg2
sample_df = sample_df.sort_values(by = ['marks'])
sample_df

In [ ]:
sample_df.loc[2:4]

In [ ]:
sample_df.iloc[2:4] # iloc: index location

In [ ]:
#eg3
sample_df.set_index('id', inplace = True)
sample_df

In [ ]:
sample_df.loc[2:4]

In [ ]:
sample_df.loc['A103':'A102']

In [ ]:
sample_df.iloc[2:4]

### Subsetting based on values

In [ ]:
data = pd.read_csv('datasets/big_mart_sales.csv')
data.head()

In [ ]:
# rows and cols based on a condition
data[data.Outlet_Establishment_Year == 1987]

In [ ]:
data.loc[data.Outlet_Establishment_Year == 1987]

In [ ]:
# based on 2 conditions
data[(data.Outlet_Establishment_Year == 2009) & (data.Outlet_Size == 'Medium')] #and

In [ ]:
data[(data.Outlet_Establishment_Year == 2009) | (data.Outlet_Size == 'Medium')] #or |, not !:

In [ ]:
data.loc[(data.Outlet_Establishment_Year == 2009) & (data.Outlet_Size == 'Medium')]

In [ ]:
# HOw to filter on a list of values
# Get rows for which year is 1987-1989
years = [1987, 1988, 1999]

data.loc[data.Outlet_Establishment_Year.isin(years)]

In [ ]:
# How to select specific columns from the data
select_cols = ['Item_Identifier', 'Item_MRP', 'Outlet_Establishment_Year', 'Outlet_Size']
data[select_cols]

In [ ]:
# Roes based on conditions and certain cols
data[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High')][select_cols]

In [ ]:
# using loc
data.loc[(data.Outlet_Establishment_Year == 1987) & (data.Outlet_Size == 'High'), select_cols]

In [ ]:
# cols with specific datatypes
data.dtypes

In [ ]:
data.select_dtypes('object') #/ 'float64', 'int64', 'bool' etc.

In [ ]:
# df.loc provides simpler syntax over normal [] utility
# both have similar performance
# loc works with both label and position based subsetting
# df[] sometines has unwanted behaviour

### Modifying data in Python

In [ ]:
data.head()

In [ ]:
# How to impute mmissing values using loc in any column
data.isna().sum()

In [ ]:
# Select cols which have missing data using loc
data.loc[data.Item_Weight.isna() == True]

In [ ]:
data.loc[(data.Item_Weight.isna() == True), 'Item_Weight'] = data.Item_Weight.mean() # LHS : rows with condition , col

In [ ]:
data.Outlet_Size.value_counts()

In [ ]:
data.loc[data.Outlet_Size.isna() == True, 'Outlet_Size'] = 'Medium'

In [ ]:
data.isna().sum()

In [ ]:
# or : data.Outlet_Size.fillna('Medium', inplace = True)

In [ ]:
# How to update the values of a column
data.Item_Fat_Content.value_counts()

In [ ]:
mapping = {
    'Low Fat' : 'Low Fat',
    'Regular' : 'Regular',
    'LF'      : 'Low Fat',
    'reg'     : 'Regular',
    'low fat' : 'Low Fat'
}

In [ ]:
data.Item_Fat_Content = data.Item_Fat_Content.map(mapping)

In [ ]:
data.Item_Fat_Content.value_counts()

In [ ]:
# How to create new col by modifying existing column
data.Item_MRP # in rs.

In [ ]:
# Item_MRP in USD
data['Item_MRP_in_USD'] = data.Item_MRP.apply(lambda x : x / 74)
data.head()

In [ ]:
data[['Item_MRP', 'Item_MRP_in_USD']]

In [ ]:
# Functions inside apply functions
def convert_GBP(price) :
    price = price / 100
    return price

data['Item_MRP_in_GBP'] = data.Item_MRP.apply(convert_GBP)
data.head()

## One Hot Encoding : 

![ohe.png](attachment:ohe.png)

In [ ]:
data.head()

In [ ]:
# use get_dummies : 
data = pd.get_dummies(data)
data.head()
# 8523 rows, 1604 cols
# data becomes heavy if there are too many categories.

In [ ]:
data.missing().sum()

In [ ]:
data.columns